:root{
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-brand: #2196f3;
    --color-background: #2f303a;
    --color-pouring: #f5f4fA;
    --color-text-light: #fff;
    --color-logo: #000;
}

body{
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
}

.accent{
    color: var(--color-brand);
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: var(--color-logo);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-navigation{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link-navigation:hover{
    color: var(--color-brand);
}
.link-contacts{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-contacts:hover{
    color: var(--color-brand);
}

.hero-section{
   background-color: var(--color-background);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-text-light);
    text-align: center;
}

.btn-primery{
    font-family: inherit;
    background-color:var(--color-brand);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-text-light);
    cursor: pointer;
}

.title-benefits{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text-benefits{ 
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.title-activity{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team{
    background: var(--color-pouring)
}

.team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.text-team{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.footer{
    background: var(--color-background)
}
.footer-address{
    font-style: normal;
}
.link-logo-footer{
    font-family: Raleway;
    color: var(--color-text-light);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-address{
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link-address:hover{
    color: var(--color-brand)
}

.footer-contacts-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover{
    color: var(--color-brand)
}
.filter-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--color-pouring);
    color: var(--color-primary);
    cursor: pointer;
}

.filter-button:hover{
    background-color: var(--color-brand);
    color: var(--color-text-light);
}

.item-project{
    border: 1px solid #EEEEEE;
}

.item-project:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-project{
    text-decoration: none;
}

.project-title{
    color: var(--color-primary);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text{
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
